{% extends 'myapp/base.html' %}
{% block start %}
<div class="row">
<div class="col-sm-5">
<h2 class="text-center alert alert-danger">Add new User</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control"   name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="email" class="form-control"   name="email" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
      </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  </div>
  <div class="col-sm-6">
        <h2 class="text-center alert alert-info">User Information</h2>
        {% if users %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">password</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for u in users %}
              <tr>
                <th scope="row">{{u.id}}</th>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.password}}</td>
                <td>
                 <a href="/update/{{u.id}}"class="btn btn-warning btn-sm">update</a>
                 <a href="/udelete/{{u.id}}/"class="btn btn-danger btn-sm">delete</a>

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
           <h3 class="text-center alert alert-warning ">No records</h3>
           {% endif %}
  </div>
  </div>
{% endblock %}