<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base page</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
       <!-- <h2 class="text-center alert alert-danger">function based view</h2> -->
       {% block start %}

       {% endblock %}
    </div>
    <script src="{% static 'myapp/Js/bootstrap.min.js' %}"></script>
</body>
</html>