{% extends 'myapp/base.html' %}
{% block start %}
<h2>update student</h2>
<form action="" method="POST">
    
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" value="{{u.name}}"  name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="email" class="form-control" value="{{u.email}}"  name="email" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="password" class="form-control" value="{{u.password}}" name="password" id="exampleInputPassword1">
      </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

{% endblock %}